{% extends "base.html" %}

{% block content %}
    <h4>Are you sure you want to delete this department: </h4>
    <br>
    <h5>id = {{ department_id }}</h5>
    <br>
    <form method="GET" action="#">
        <input type="hidden" name="controller" value="departments">
        <input type="hidden" name="action" value="delete">
        <input type="hidden" name="id" value="{{ department_id }}">
        <br>
        <div class="row">
            <input class="btn btn-default" type="submit" name="submit" value="Delete">
            <input class="btn btn-default" type="submit" name="submit" value="Cancel">
        </div>
    </form>
{% endblock %}